<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://kit.fontawesome.com/0318d58b0b.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>	
    <title>Link Shortener</title>
<link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<body>
	<nav class="navbar">
		<ul class="navbar-list">
			<li class="navbar-item">
				<a href="/">Home</a>
			</li>
			<li class="navbar-item">
				<a href="/links">View Links</a>
			</li>
			<li class="navbar-item">
					<a href="/analytics">Analytics</a>
			</li>
			<li class="navbar-item">
					<a href="/options">Options</a>
			</li>
		
		</ul>
		</nav>
	<div id="page-wrapper" class="h-screen flex flex-col justify-center text-center items-center gap-4">
    <div id="content">{% block content %}{% endblock content %}</div>
	</div>
</body>
</html>
