<div class="copied-text"><p>Success! View your shortlink at:</p><p>{{domain}}/{{shortlink_id}}</p></div>
<div class="copied-buttons">
<button id="copy-button" onClick="addToClipboard({{shortlink_id}}})") >Copy</button>
<a id="qr-button" href="/qr/{{shortlink_id}}">QR</a>
</div>
<script>
	const button = document.getElementById("copy-button");
	function addToClipboard(text) {

					const it = (window.location.protocol === 'https:' ? 'https://' + window.location.host : 'http://' + window.location.host ) + "/{{shortlink_id}}"

					navigator.clipboard.writeText(it).then(() => {
					document.getElementById("copy-button").innerText = "Copied!"			
							})		
	}
		button.addEventListener("click", addToClipboard, false)
</script>
