/* CSS RESETS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ACTUAL CSS STARTS HERE */
h1 {
  text-align: center;
  font-weight: 700;
}
input {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #fafafa;
  font-weight: 700;
  box-shadow: 5px 5px 0 #000000;
  transition: 0.2s linear;
}
input:hover {
  background-color: #c8c8c8;
}
input:focus {
  outline: none;
}
button,
#qr-button,
.navbar-item > a {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #e6e6e6;
  font-weight: 700;
  box-shadow: 5px 5px 0 #000000;
  transition: 0.2s linear;
  color: black;
}
button:hover,
#qr-button:hover,
.navbar-item > a:hover {
  background-color: #c8c8c8;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  height: 3rem;
}
.navbar .navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navbar .navbar-list .navbar-item a {
  text-decoration: none;
}
h1 {
  font-size: 3rem;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  min-height: 83vh;
}
#content .shorten-form,
#content .logo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 95%;
  min-width: 90%;
}
#content .shorten-form button,
#content .logo-form button,
#content .shorten-form input,
#content .logo-form input {
  padding: 1rem;
  font-size: 2rem;
}
@media screen and (min-width: 500px) {
  #content .shorten-form,
  #content .logo-form {
    max-width: 60%;
    min-width: 300px;
    font-size: 1.25rem;
  }
}
#content .copied-buttons {
  font-size: 2rem;
}
#content p {
  font-size: 2rem;
}
@media screen and (min-width: 500px) {
  #content p {
    font-size: 1.25rem;
  }
}
#meme {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.75rem;
  min-height: 2.5rem;
}
#meme .copied-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
#meme .copied-buttons {
  height: 100%;
}
#meme .copied-buttons #copy-button {
  font-size: 2rem;
}
table,
td,
th {
  padding: 5px;
  border: 2px double black;
  font-size: 1.2rem;
}
table {
  width: 50%;
  text-align: center;
}
tbody > tr:nth-of-type(2n+1) {
  background: #e6e6e6;
}
a {
  cursor: pointer;
}
